.strong--home1 {
  color: #fcc200;
}

.paragraph {
  color: #040404;
}

.paragraph--home1 {
  font-size: 1.5rem;
  padding-top: 60px;
}

.paragraph--home2 {
  font-size: 1rem;
  padding: 0 100px;
}

.container--home1 {
  background-color: #fff;
}

.wrapper--home2 {
  background-color: #fff;
}

.paragraph--footerBrasil {
  font-size: 0.875rem;
}

.paragraph--footerEspanha {
  font-size: 0.875rem;
}

.paragraph--footerEua {
  font-size: 0.875rem;
}

.link--footerEmail {
  font-size: 0.875rem;
  color: #5974c7;
  text-decoration: none;
}

.wrapper--footerEmail {
  padding-top: 20px;
}

.container--textCoverSobre {
  margin-top: -155px;
  background-color: rgba(0, 0, 0, 0);
}

.wrapper--textCoverSobre {
  padding-left: 100px;
}

.paragraph--textCoverSobre {
  color: #fff;
  font-size: 2rem;
}

.strong--textCoverSobre {
  color: #fcc200;
}

.container--sobreTitle {
  background-color: #fff;
  padding-top: 100px;
}

.strong--sobreTitle {
  color: #fcc200;
}

.wrapper--missaoText {
  background-color: #fff;
  padding: 80px 32px 32px 100px;
  font-size: 1rem;
  font-weight: normal;
}

.paragraph--missaoText {
  color: #1d1d1d;
}

.paragraph--virtudesTitle {
  color: #040404;
  font-size: 1.5rem;
}

.strong--virtudesTitle {
  color: #fcc200;
}

.paragraph--virtudes {
  color: #717786;
  font-size: 0.875rem;
}
