.logoLink--logoMobile {
  padding-left: 9px;
}

.imageElement--virtudes {
  width: 100px;
  transition: 0.4s;
}

.imageElement--virtudes:hover {
  width: 90px;
  filter: opacity(0.8);
}

.container {
  padding: 0;
}

.logoContainer {
  padding: 0;
}

.imageElement--trustedImg {
  width: 130px;
  transition: 0.6s;
  filter: saturate(0);
  margin: auto;
}

.imageElement--trustedImg:hover {
  width: 120px;
  filter: opacity(0.8);
}

.infoCardContainer {
  border-color: #ffffff;
}

.infoCardCallActionContainer :global(.vtex-button) {
  background-color: #ffffff;
  border-color: #5974c7;
  font-family: 'Open Sans';
  text-transform: none;
  color: #5974c7;
}

.infoCardCallActionContainer :global(.vtex-button):hover {
  background-color: #5974c7;
  color: #ffffff;
}

.infoCardContainer--flip {
  visibility: visible;
}

.infoCardContainer--flip:hover {
  visibility: hidden;
}

.infoCardContainer--hide {
  visibility: hidden;
}

.infoCardContainer--hide:hover {
  visibility: visible;
}

.imageElement--time {
  border-radius: 100%;
  border: #dedede 3px solid;
  margin: 0 auto;
  width: 150px;
  align-items: center;
}

.imageElement--depoimento {
  border-radius: 50%;
  margin-right: 15px;
  max-width: 64px;
}

.imageElement--hist-cli {
  border-radius: 100px;
  margin-bottom: 20px;
  max-width: 240px !important;
  vertical-align: middle;
}

.productBrand {
  font-size: 2rem;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  color: #040404;
}

.productDescriptionTitle {
  visibility: hidden;
}

.content {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.875rem;
  padding-bottom: 20px;
  line-height: 1.5;
}

.sellingPrice {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.5rem;
}

:global(.vtex-toast) {
  background-color: #5974c7;
  font-family: 'Open Sans';
  text-transform: none;
  color: #ffffff;
}

:global(.vtex-button) {
  background-color: #ffffff;
  border-color: #5974c7;
  font-family: 'Open Sans';
  text-transform: none;
  color: #5974c7;
}

:global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button) {
  border: none;
}

:global(.vtex-button):hover {
  background-color: #5974c7;
  border-color: #5974c7;
  color: #ffffff;
}

@media screen and (max-width: 1025px) {
  .logoImage {
    padding: 25px 0;
  }
}

@media screen and (max-width: 639px) {
  .imageElement--footer {
    margin: 15px;
  }
}
