.nameContainer {
  background-color: #3c3744;
  border-bottom: 2px solid #fcc200;
  width: 300px;
}

.brandName {
  color: #fff;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 1.25rem;
}

.clearLink {
  text-decoration: none;
}

.element {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.element :global(.vtex-button) {
  margin-top: 16px;
  width: 150px;
  background-color: #ffffff;
  border-color: #5974c7;
  font-family: 'Open Sans';
  text-transform: none;
  color: #5974c7;
}

.element :global(.vtex-button):hover {
  background-color: #5974c7;
  color: #ffffff;
}
