.paragraph {
  color: #040404;
}

.container--slider1,
.container--slider2,
.container--slider3 {
  background-position: center center;
  background-size: cover;
  padding: 80px 40px 80px 40px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 600px;
}

.container--slider1 {
  background-image: linear-gradient(rgba(44, 6, 92, 0.4), rgba(44, 6, 92, 0.4)),
    url('assets/slide1.png');
}

.container--slider2 {
  background-image: url('assets/slide2.png');
}

.container--slider3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('assets/slide3.png');
}

.strong--slider1,
.strong--slider2,
.strong--slider3 {
  font-size: 3.375rem;
  font-family: 'Roboto';
  font-weight: 700;
  color: #fcc200;
  line-height: 1;
}

.paragraph--slider1,
.paragraph--slider2,
.paragraph--slider3 {
  color: #fff;
  font-size: 1.125rem;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.5;
  max-width: 55%;
}

.strong--home1 {
  color: #fcc200;
}

.paragraph--home1 {
  font-size: 2rem;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  padding: 60px 104px 0;
}

.paragraph--home2 {
  font-size: 1.25rem;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  padding: 0 104px 60px;
}

.container--home1 {
  background-color: #fff;
}

.wrapper--home2 {
  background-color: #fff;
}

.paragraph--footerBrasil,
.paragraph--footerEspanha,
.paragraph--footerEua {
  font-size: 0.9rem;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 1.35rem;
}

.strong--footerBrasil,
.strong--footerEspanha,
.strong--footerEua {
  font-size: 0.9rem;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.3;
  color: #333;
  text-transform: uppercase;
}

.link--footerEmail {
  font-size: 0.875rem;
  color: #5974c7;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 400;
}

.link--footerEmail:hover {
  color: rgb(4, 4, 4);
  text-decoration: underline;
}

.wrapper--footerEmail {
  padding-top: 20px;
}

.container--textCoverSobre {
  background-image: url('assets/cover-sobre.jpg');
  background-position: center center;
  background-size: cover;
  padding: 55.5px 0 55.5px 104px;
  display: flex;
  align-items: center;
}

.paragraph--textCoverSobre {
  color: #fff;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 2.25rem;
}

.strong--textCoverSobre {
  color: #fcc200;
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.container--sobreTitle {
  background-color: #fff;
  padding-top: 104px;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 3rem;
}

.strong--sobreTitle {
  color: #fcc200;
}

.wrapper--missaoText {
  background-color: #fff;
  padding: 80px 32px 32px 100px;
}

.paragraph--missaoText {
  color: #1d1d1d;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1rem;
}

.paragraph--virtudesTitle {
  color: #040404;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 2rem;
}

.strong--virtudesTitle {
  color: #fcc200;
}

.paragraph--virtudes {
  color: #717786;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 0.875rem;
}

@media screen and (max-width: 1025px) {
  .container--textCoverSobre {
    padding-left: 15px;
  }
}

@media screen and (max-width: 1025px) {
  .container--sobreTitle {
    padding: 0 15px;
  }
}

@media screen and (max-width: 639px) {
  .container--slider1,
  .container--slider2,
  .container--slider3 {
    padding: 15px;
    height: 438px;
  }

  .strong--slider1,
  .strong--slider2,
  .strong--slider3 {
    font-size: 2.3625rem;
    line-height: 1.5rem;
  }

  .paragraph--slider1,
  .paragraph--slider2,
  .paragraph--slider3 {
    line-height: 1.6875rem;
    max-width: 100%;
  }

  .paragraph--home1 {
    padding: 60px 15px 0;
  }

  .paragraph--home2 {
    padding: 0 15px 60px;
  }

  .paragraph--footerBrasil,
  .paragraph--footerEspanha,
  .paragraph--footerEua {
    text-align: center;
  }

  .container--footerBrasil {
    padding: 24px 15px;
    display: flex;
    justify-content: center;
  }

  .container--footerEspanha {
    padding: 24px 15px;
    display: flex;
    justify-content: center;
  }

  .container--footerEua {
    padding: 24px 15px;
    display: flex;
    justify-content: center;
  }

  .paragraph--missaoText {
    text-align: center;
  }
}
