.imageElement--virtudes {
  width: 100px;
  margin-top: 50px;
}

.container {
  padding: 0;
  margin: 0;
}

.logoContainer {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1025px) {
  .logoImage {
    padding: 25px 0;
  }
}

@media screen and (max-width: 639px) {
  .imageElement--footer {
    margin: 15px;
  }
}
