.flexRowContent--header {
  background-color: #fff;
  padding: 0 33.719px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

.flexRow--main-header-mobile {
  padding: 0 9px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}

.flexRow--footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #f8f8f8;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.flexRowContent--footer {
  background-color: #f8f8f8;
  padding: 60px 0;
}

@media screen and (min-width: 640px) {
  /* alinha itens ao topo apenas em telas mais largas que 640px */
  .flexRowContent--footer {
    display: flex;
    align-items: flex-start;
  }
}

.flexCol--footerCol1,
.flexCol--footerCol2,
.flexCol--footerCol3,
.flexCol--footerCol4,
.flexCol--footerCol5 {
  padding: 32px;
}

.flexCol--footerCol1,
.flexCol--footerCol2 {
  margin-top: 16px;
}
.flexCol--footerCol1 {
  display: flex;
  align-items: center;
}

.flexRow--missao {
  display: flex;
  justify-content: center;
}

.flexColChild--missaoImg {
  background-color: #fff;
  padding: 70px 100px 32px 32px;
}

.flexColChild--missaoText {
  display: flex;
  background-color: #fff;
  align-items: center;
}

.flexRow--virtudes {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  width: 1140px;
}

.flexRowContent--depoimento {
  background-color: #f1f1f1;
  margin-top: 0;
  padding-bottom: 96px;
}

.flexRowContent--hist-cli {
  padding-left: 4em;
  padding-right: 4em;
}

.flexCol--hist-cli {
  display: flex;
  justify-content: space-between;
  vertical-align: super;
  margin: 0 2rem;
}

.flexCol--contact {
  max-width: 400px;
  padding: 15px;
}

.flexCol--contact :global(.vtex-input__label) {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 1rem;
  padding-top: 15px;
  color: #040404;
}

.flexRowContent--product-main {
  padding: 0 104px;
}

@media screen and (max-width: 1170px) {
  .flexRow--virtudes {
    width: 940px;
  }

  .flexRowContent--hist-cli {
    padding: 0;
  }
}

@media screen and (max-width: 970px) {
  .flexRow--virtudes {
    width: 738px;
  }
  .flexRowContent--product-main {
    padding: 0 15px;
  }
}

@media screen and (min-width: 640px) {
  .flexRowContent--hist-cli {
    display: flex;
    align-items: start;
  }
}

@media screen and (max-width: 639px) {
  .flexRowContent--depoimento {
    display: flex;
    justify-content: center;
  }

  .flexCol--depoimento {
    padding: 0 32px;
  }

  .flexColChild--missaoImg {
    padding: 15px;
  }

  .flexRow--virtudes {
    max-width: 375px;
  }
}
